.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}

.text {
  color: var(--accent-text-color);
  transition: color var(--main-text-color);
}

.text_pink {
  font-size: 30px;
  color: fuchsia;
  margin-right: 50%;
}

.text_pink:hover,
.text_pink :focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 320px) {
  .text {
    font-size: 15px;
  }
  .text_pink {
    font-size: 15px;
    color: fuchsia;
    margin-right: 8%;
  }
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 30px;
  }
  .text_pink {
    font-size: 30px;
    color: fuchsia;
    margin-right: 50%;
  }
}
