.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
  }
  
  .link.active {
    color: pink;
  }

  .text {
    color: green;
    font-size: 30px;
   }

   .link.active {
     background-color: var(--main-text-color);
   }